.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 1;
}
.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal {
  font-family: Helvetica;
  font-size: 14px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  z-index: 2;
}
.modal__title {
  padding: 16px;
  margin: 0;
  border-bottom: solid 1px #e3e3e3;
}
.modal__content {
  padding: 8px 16px;
}
.modal__footer {
  padding: 8px 16px;
  text-align: right;
  background-color: #f7f7f7;
  border-top: solid 1px #e3e3e3;
}
.modal__close {
  position: absolute;
  right: -12.5px;
  top: -12.5px;
  width: 25px;
  height: 25px;
  background: red;
  color: #fff;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}
